{% extends "base.html.twig" %}

{% block body %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path('login_form') }}" method="post">
    <label for="email">Email:</label>
    <input type="text" id="email" name="_username" value="{{ last_email }}"/>

    <label for="password">Password:</label>
    <input type="password" id="password" name="_password"/>

    <input type="hidden" name="_csrf_token"
        value="{{ csrf_token('authenticate') }}"
    >
    {#
        If you want to control the URL the user
        is redirected to on success (more details below)
        <input type="hidden" name="_target_path" value="/account"/>
    #}

    <button type="submit">login</button>
</form>
{% endblock %}